#
# When updating this file, sync with .prettierignore
#

# In a normal repo (not package-template), this line should be removed:
/pnpm-lock.yaml

# IDE space

.idea
.vscode

# dependencies

.pnp
.pnp.js
.pnpm-store
node_modules
/framework-tests/*/.yalc
/framework-tests/*/package-lock.json
/framework-tests/*/pnpm-lock.yaml
/framework-tests/*/yarn.lock

# unit tests

/coverage
/*/*/coverage

# e2e tests

/e2e-test-results
/playwright-report
/*/*/e2e-test-results
/*/*/playwright-report

# linting

.eslintcache

# build output

*.tsbuildinfo

/.cache
/.next
/build
/dist
/legacy-types
/out

/*/*/.cache
/*/*/.next
/*/*/build
/*/*/dist
/*/*/legacy-types
/*/*/out
/*/*/public/build

# storybook

/storybook-static
/*/*/storybook-static

# log files

.pnpm-debug.log*
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc

.DS_Store
.env
.env.local
.env*.local
.vercel
*.pem
next-env.d.ts
