name: CI

on: [push]

permissions:
  contents: read

jobs:
  workspace-ci:
    name: Workspace CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, latest]

    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 0

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check for a changelog entry
        if: ${{ github.ref != 'refs/heads/prepare-release' && github.actor != 'dependabot[bot]' }}
        run: |
          pnpm run changelog:status:ci

      - name: Run CI checks
        run: |
          pnpm run all:ci

      - name: Report test coverage to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ github.token }}

  package-ci:
    name: Package CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-name: [node-library-template, react-library-template]

    steps:
      - uses: actions/checkout@v3.5.3

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: latest

      - name: Run CI checks for package
        run: |
          cd packages/${{ matrix.package-name }}
          pnpm run all:ci

  demo-ci:
    name: Demo CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        demo-name: [hello-world-cli, hello-world-ui]

    steps:
      - uses: actions/checkout@v3.5.3

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: latest
          use-lockfile: false

      - name: Run CI checks for demo
        run: |
          cd demos/${{ matrix.demo-name }}
          pnpm run all:ci

  external-test-ci:
    name: External-Test CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        external-test-name:
          [
            bun-vite5,
            node18-cjs,
            node18-esm,
            node20-cjs,
            node20-esm,
            node22-cjs,
            node22-esm,
            cra4-react16,
            cra5-react18,
            nextjs13-playwright,
            remix-playwright,
            vite4-react18-swc,
          ]

    steps:
      - uses: actions/checkout@v3.5.3

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: nvmrc
          use-lockfile: false

      - name: Yalc publish
        run: |
          pnpm run packages:publish:yalc

      - name: Run CI checks for external-test
        run: |
          ./external-tests/${{ matrix.external-test-name }}/external-test.sh run-ci
