name: CI

on: [push]

permissions:
  contents: read

jobs:
  workspace-ci:
    name: Workspace CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 19.x, 20.x]

    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 0

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check for a changelog entry
        if: ${{ github.ref != 'refs/heads/prepare-release' && github.actor != 'dependabot[bot]' }}
        run: |
          pnpm run changelog:status:ci

      - name: Run CI checks
        run: |
          pnpm run all:ci

      - name: Report test coverage to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ github.token }}

  package-ci:
    name: Package CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-name: [node-library-template, react-library-template]

    steps:
      - uses: actions/checkout@v3.5.3

      - uses: ./.github/reusable-workflows/setup-repo

      - name: Run CI checks for package
        run: |
          cd packages/${{ matrix.package-name }}
          pnpm run all:ci

  demo-ci:
    name: Demo CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        demo-name: [hello-world-cli, hello-world-ui]

    steps:
      - uses: actions/checkout@v3.5.3

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          use-lockfile: false

      - name: Run CI checks for demo
        run: |
          cd demos/${{ matrix.demo-name }}
          pnpm run all:ci

  framework-test-ci:
    name: Framework-Test CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework-test-name:
          [
            bun-vite5,
            cra4-react16,
            cra5-react17,
            nextjs13-playwright,
            remix-playwright,
            vite4-react18-swc,
          ]

    steps:
      - uses: actions/checkout@v3.5.3

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          use-lockfile: false

      - name: Setup framework-tests
        run: |
          ./scripts/setup-framework-tests.sh

      - name: Run CI checks for framework-test
        run: |
          source ./scripts/helpers/helpers.sh
          cd ./framework-tests/${{ matrix.framework-test-name }}
          pnpm_or_bun run all:ci
