name: Per-Package Code Coverage

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  package-test-coverage:
    name: Per-package code coverage
    runs-on: ubuntu-latest
    # Only run for the original repo, and only the default branch, and only if it's properly protected
    if: |
      (! github.event.push.head.repo.fork)
        && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        && github.ref_protected == true
    strategy:
      matrix:
        package-name: [node-library-template, react-library-template]

    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: nvmrc

      - name: Run package tests
        run: |
          cd packages/${{ matrix.package-name }}
          pnpm exec turbo run test:ci

      - name: Report package test coverage to coveralls.io
        uses: coverallsapp/github-action@v2.3.0
        with:
          github-token: ${{ github.token }}
          path-to-lcov: packages/${{ matrix.package-name }}/coverage/lcov.info
          base-path: packages/${{ matrix.package-name }}
          git-branch: x-cov-${{ matrix.package-name }}
